@import url('http://fonts.googleapis.com/css?family=raleway');

#container {width: 700px; margin: auto; overflow: visible;}

#column1, #column2 {margin-top: 10px;}




body {
	max-width: 700px; 
	margin:0px auto; 
	overflow: scroll;
	font-family: 'raleway', Helvetica, sans-serif;  
	font-size: 15px; 
	background-color: #fffbf2;
	color: #5b5b5b;
	font-variant: small-caps;
	margin-top: 50px; 
	text-align: left;
	letter-spacing: 1.75px;
	line-height: 13px;
}

nav {
	position:fixed;
	padding-top:10px;
	padding-bottom:10px;
	top:0;
	height:30px;
	margin:auto;
}

body nav {
	background:#fff;
	position:fixed;
	text-align:center;
	opacity: .8;    
	z-index: 999;
	margin:auto;
}

nav a {
	margin:auto;
}

p {
	font-family: 'raleway', Helvetica, sans-serif;  
	font-size: 15px; 
	color: #5b5b5b;
	max-width: 700px;
	line-height: 14px;
}




h1 {
	font-weight: 700;
	margin-left: -20px;
	font-family:'raleway', Helvetica, sans-serif;  
	font-size: 16px; 
	color: #5b5b5b;
	line-height: 16px;
}

h2 {
	font-weight: 700;
	margin-left: -20px;
	font-family:'raleway', Helvetica, sans-serif;  
	font-size: 16px; 
	color: #5b5b5b;
	line-height: 16px;
	
}

a {
	color: #9a9a9a;
	text-decoration: none;
	font-variant: small-caps;
	font-family: 'raleway', Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: light;
	padding-right: 30px;
	letter-spacing: 1.75px;
	line-height: 18px;
}


a:hover {
	color: #9a9a9a;
}

a:active {
color: #5b5b5b;
}


a.on {
	color: #5b5b5b;
	font-weight: bold;
	font-size: 13px; 
	
}
