@import url('http://fonts.googleapis.com/css?family=raleway');
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

#container {width: 700px; margin: auto; overflow: visible;}
#column1, #column2 {margin-top: 10px;}

body {
	max-width: 700px; 
	margin:0px auto; 
	overflow: scroll;
	font-family: 'raleway', Helvetica, sans-serif;  
	font-size: 15px; 
	font-variant: small-caps;
	background-color: #fffbf2;
	color: #5b5b5b;
	margin-top: 70px; 
	text-align: left;
	letter-spacing: 1.5px;
	line-height: 13px;
}

nav {

	padding-bottom:10px;
	top:0;
	left: 0;
	height:30px;
	margin:auto;
	width:100%;
}

body nav {
	background:#fffbf2;
	margin-top:20px;
	padding-top: 20px;
	position:fixed;
	text-align:center;
/* 	opacity: .8;     */
	z-index: 999;
	margin:auto;
}

nav a {
	margin:auto;
/* 	line-height: 14px; */
}

.nav.menus {
	
}

p {
	font-family: 'raleway', Helvetica, sans-serif;  
	font-size: 11px; 
	color: #5b5b5b;
	max-width: 700px;
	line-height: 14px;
	font-variant: normal;
	letter-spacing: 0;
	
}

img {
	padding-bottom: 5px;
	margin-top: 0;
}



h1 {
	font-weight: 700;
	margin-left: -20px;
	font-family:'raleway', Helvetica, sans-serif;  
	font-size: 16px; 
	color: #5b5b5b;
	line-height: 16px;

}

h1 a {
	font-weight: 700;
	margin-left: -20px;
	font-family:'raleway', Helvetica, sans-serif;  
	font-size: 16px; 
	color: #1a1a1a;
	line-height: 16px;

}


h2 {
	font-weight: 700;
	margin-left: -20px;
	font-family:'raleway', Helvetica, sans-serif;  
	font-size: 16px; 
	color: #5b5b5b;
	line-height: 16px;
	
}

a {
	color: #9a9a9a;
	text-decoration: none;
	font-variant: small-caps;
	font-family: 'raleway', Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: light;
	padding-right: 30px;
	letter-spacing: 1.75px;
	line-height: 18px;
}


a:hover {
	color: #9a9a9a;
}

a:active {
color: #5b5b5b;
}


a.on {
	color: #5b5b5b;
	font-weight: bold;
	font-size: 13px; 
	
}

[href*="index.html"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	z-index: 999;
/* 	position: relative; */
}

[href*="index.html"]:before {
	content: '';
	display: block;
	width: 0;
	height: 150%;
	z-index: 999;
}

[href*="index.html"]:after {
	content: '\f118';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height:20px;
	line-height: 20px;
	text-align: center;
	color: #5b5b5b;
	font-family: 'FontAwesome';
	padding-top: 26px;
	z-index: 999;
	padding-left: 10%;
}


.gallery.segment {
	padding-bottom: 20px;
}

ul .slides {
	padding-top: 0;
	margin-top: 0;

}

/* inside gallery */
aside.gallery.segment {
	float: left;
	max-width: 700px;
	height: 390px;
	overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    padding-right: 0;
    padding-top: 0;
    margin-top: 0;
    
}

.gallery.segment img{
	margin: 0;
	border: none;
	width: 700px;
	display: inline-block;
    vertical-align: middle;	
    float: left;
}

.segment.gallery {
	overflow-y: hidden;
	overflow-x: scroll;

}

.segment.gallery .slides {
	overflow: visible;
	padding: 0;
}


.segment.gallery .slide {
	display: list-item;
}

.home {
	position: absolute;
	font-size: 90px;
	font-weight: 100;
	text-transform: lowercase;
	margin: auto;
	top:200px;
	left:40%; 
}


