body {
	width: 900px; 
	margin: auto; 
	overflow: scroll;
	font-family: Helvetica, sans-serif;  
	font-size: 14px; 
	background-color: #fffbf2;
	color: #5b5b5b;
	font-variant: small-caps;
	margin-top: 30px; 
	margin-left: 100px;
	text-align: left;
	letter-spacing: 1.75px;
	line-height: 13px;
	
}



p {
	font-family: Helvetica, sans-serif;  
	font-size: 13px; 
	color: #5b5b5b;
	max-width: 750px;
}


nav {

	text-align: right;
	padding-bottom: 30px;
	
	
}

h1 {
	font-weight: 700;
	margin-left: -20px;
	font-family: Helvetica, sans-serif;  
	font-size: 14px; 
	color: #5b5b5b;
}

a {
	color: #9a9a9a;
	text-decoration: none;
	font-variant: small-caps;
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: light;
	padding-right: 30px;
	letter-spacing: 1.75px;
	line-height: 17px;
}


a:hover {
	text-decoration: ;
	color: #5b5b5b;
	
}

a:active { 
    color: #5b5b5b;
}

